<nav id="navigation">
    <a href="/">Home</a>
    <% if(user) { %>
      <a href="/game">View my Games</a>
      <a href="/auth/sign-out">Log Out</a>
      <a href="/game/new">Add a New Game</a>
    <% } else { %>
      <a href="/auth/sign-in">Log In</a>
      <a href="/auth/sign-up">New player</a>
    <% } %>
  </nav>
