<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
 
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <% if (user) { %>
        <h1 id="herohead">Welcome to game-trax, <%= user.username %>!</h1>
        <% } else { %>
        <h1>Game-Trax, how can we help.</h1>
        <% } %>
        
     
      </body>
</html>
